<input type="text" class="form-control" ng-model="search" class="search-query" placeholder="Search">
<div style="margin-top:20px" ng-show="!loaded"><i class="fa fa-refresh fa-spin fa-3x"></i></div>
<table class="table" ng-show="loaded">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></th>
  </tr>
  </thead>
  <tbody ui-sortable="sortableOptions" ng-model="contacts">
  <tr ng-repeat="contact in contacts | filter:search track by $index">
    <td><i class="glyphicon glyphicon-move" style="cursor:pointer"></i></td>
    <td>{{contact.name}}</td>
    <td>{{contact.email}}</td>
    <td>
      <a href="#/edit/{{contact.$id}}"><i class="glyphicon glyphicon-pencil"></i></a>
    </td>
  </tr>
  </tbody>
</table>