<input type="text" class="form-control" ng-model="search" class="search-query" placeholder="Search">
<div style="margin-top:20px" ng-show="!loaded"><i class="fa fa-refresh fa-spin fa-3x"></i></div>
<table class="table" ng-show="loaded">
  <thead>
  <tr>
    <th><a href="#/new"><i class="glyphicon glyphicon-plus"></i></a></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody ui-sortable="sortableOptions" ng-model="projects">
  <tr ng-repeat="project in projects | filter:search track by $index ">
    <td><a href="#/edit/{{project.$id}}"><i class="glyphicon glyphicon-pencil"></i></a></td>
    <td><a href="{{project.site}}" target="_blank">{{project.name}}</a><br/>{{project.site}}</td>
    <td><i class="glyphicon glyphicon-move dragArea" style="cursor:pointer"></i></td>
  </tr>
  </tbody>
</table>